// color variables
$main_bg: #313131;
$header_bg: #313131;
$body_bg: #f2f2f2;
$header_color: #fff;
$body_color: #ffbb44;
$menu_hover_color: #3071a9;

$main_margin: 0 50px;

* {
  margin: 0;
}

html {
  background: $main_bg;
}

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  height: 100%;
  background: $body_bg;
  color: $body_color;
}

footer {
  margin: 0;
  padding: $main_margin;
  background: $main_bg;
}

header {
  a {
    color: $header_color;
    &:hover {
      color: $body_color;
    }
  }

  li a {
    &:hover {
      color: $menu_hover_color;
      background-color: #c5c5c5;
    }
  }
}


header nav {
  background: $header_bg;
  color: $header_color;
}

.page-wrap {
  min-height: 100%;
  margin: $main_margin;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {

}